
/public
/vendor
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant

### Laravel ###
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.npm

#PHPstoem stuff
.idea
# npm laravel-mix
npm-debug.log
.idea
.npm
/node_modules

bootstrap/compiled.p
app/storage/
